#baudy {
	font-family: system-ui;
}
#baudy [onclick]:not([disabled]) {
	cursor: pointer;
}
#baudy button, #baudy input[type=button], #baudy input[type=submit], #baudy select, #baudy textarea {
	font-size: inherit;
    color: black;
	padding: 7px;
    /* Thanks for the border-radius. */
    margin: 3px;
    border-radius: 5px;
	border: 1px solid lightgray;
	-webkit-box-shadow: 1px 1px 1px 0px #c9c9c9; 
	box-shadow: 1px 1px 1px 0px #d4d4d4;
	background-color: #f3f2f2;
	transition: box-shadow 0.5s, -webkit-box-shadow 0.5s, background-color 0.5s;
}
#baudy input[type=text] {
    border-radius: 5px;
    border: 1px solid lightgray;
}
#baudy input:not([type=button]):not([type=submit]), #baudy select {
	padding: 7px; 
	border: 1px solid lightgray;
}
#baudy #baudy button:not([disabled]):hover, #baudy input[type=button]:not([disabled]):hover, #baudy input[type=submit]:not([disabled]):hover {
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: #eeeeee;
}
#baudy table#magicsquare {
  text-align: center;
}
#baudy #magicsquare tr {
  border: 1px solid black;
  width: 150px;
  height: 50px;
  font-size: 24px
}
#baudy #magicsquare td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}
#baudy progress:not(.new) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 99%;
}
#baudy .popup {
    z-index: 5; 
    background-color: white;
    position: fixed; top: 50%;
    left: 50%;
    margin: auto;
    padding: 20px;
    transform: translate(-50%, -50%); 
    color: black;
    border: 1px solid lightgray; 
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #cccccc;
    box-shadow: 5px 5px 15px 5px #cccccc;
}
#baudy .flasher {
    animation: flash 2s infinite;
}
#baudy .flash1 {
    animation-delay: 1.1s;
}
#baudy .flash2 {
    animation-delay: 1.2s;
}
#baudy .flash3 {
    animation-delay: 1.3s;
}
#baudy .flash4 {
    animation-delay: 1.4s;
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    1% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#baudy .test{
  width: 100px;
  height: 100px;
  display: none;
  background-color: red;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 75px
}
#baudy kbd {
    border-radius: 3px;
    border: 1px solid;
    box-shadow: 3px 3px 3px 0px #000000;
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 7px;
}
#baudy .disappearAfter2 {
    animation-name: fadefor2seconds;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#baudy .appearAfter2 {
    opacity: 0;
    animation-name: appear2;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadefor2seconds {
    0% {
        color: black;
    }
    100% {
        color: rgba(0, 0, 0, 0);
    }
}
@keyframes appear2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#baudy #win {
    display: none;
}
#baudy #win:target {
    display: block;
}
.selectThis {
    display: none;
}
.selectThis:checked + label {
    background-color: lightgray;
    box-shadow: none;
}
.selectThis + label {
    background-color: white;
    box-shadow: 5px 5px 15px 5px #cccccc;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.pre {
    white-space: pre-wrap;
}